{% extends 'base.html' %}

{% block content %}
    
    <div class="shadow p-3 mb-5 bg-body rounded">
        <form method="POST">

            {{ form.hidden_tag() }}

            {{ form.title.label(class="form-label") }}
            {{ form.title(class="form-control") }}
            <br/>
            {{ form.author.label(class="form-label") }}
            {{ form.author(class="form-control") }}
            <br/>
            {{ form.slug.label(class="form-label") }}
            {{ form.slug(class="form-control") }}
            <br/>
            {{ form.content.label(class="form-label") }}
            {{ form.content(class="form-control", rows = 10) }}
            <br/>
            {{ form.submit(class="btn btn-secondary") }}
        
        </form>
    </div>

    <a href="{{url_for('get_post', post_id = post.id)}}" class="btn btn-outline-secondary">Back to Post</a>
    
{% endblock %}